.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination__prev,
  .pagination__next,
  .pagination__page,
  .pagination__break {
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .pagination__prev,
  .pagination__next {
    background-color: #f1f1f1;
  }
  
  .pagination__prev:hover,
  .pagination__next:hover,
  .pagination__page:hover {
    background-color: #ddd;
  }
  
  .pagination__disabled {
    color: #888;
    cursor: not-allowed;
  }
  
  .active {
    background-color: #4caf50;
    color: white;
  }



  /* Add your custom styles here */

.table-container {
    max-height: 400px; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  
  .action-button {
    padding: 0.5rem;
    margin: 0.2rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .update-button {
    background-color: #4caf50;
    color: white;
  }
  
  .edit-button {
    background-color: #2196f3;
    color: white;
  }
  
  .remove-button {
    background-color: #f44336;
    color: white;
  }
  
  /* Pagination styles (add your styles if needed) */
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  /* Add more styles as needed */
  

  .adduser{
    margin-left: 52vw;
    margin-top: -6%;
  }
  