.rotate-animation {
    animation: rotate 30s linear infinite;
    margin-left: 30vw; /* Adjust the duration as needed */
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  